extends layout

block content

  header.backgroundFavoritos.text-center.text-white.d-flex
    .container-fluid.my-auto
      .row
        .col-lg-10.mx-auto
          h1.text-uppercase
            strong esto es favoritos
          hr.fav
  br            
  .container
    .row
      .col-sm-12
        h3.text-uppercase
          i.fa.fa-film.Gold(aria-hidden='true')
          spam  
          strong Peliculas 
  .container
    .row.pel
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .container-fluid.my-auto.text-center
        .col-lg-10.mx-auto
          button.btn.btn-success.sh(type='button')
            i.fa.fa-plus
            spam  ver mas
    br
  .container
    .row
      .col-sm-12
        h3.text-uppercase
          i.fa.fa-music.Gold(aria-hidden='true')
          spam  
          strong Musica 
  .container
    .row.pel
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .col-md-3
        .card
          img(src='https://banner2.kisspng.com/20180320/zce/kisspng-film-computer-icons-screenwriter-download-png-movie-icon-5ab0ef0332a9b5.3788170315215449632075.jpg', alt='Avatar', style='width:100%')
          .container
            h4
            i.fa.fa-heart.red(aria-hidden='true')
            br
            b lorem ipsum
            p lorem ipsum lorem ipsum lorem ipsum
      .container-fluid.my-auto.text-center
        .col-lg-10.mx-auto
          button.btn.btn-success.sh(type='button')
            i.fa.fa-plus
            spam  ver mas
br 
br 
br 
