extends layout
block content
  header.mastheadlogin.text-center.text-white.d-flex
    .container-fluid.my-auto
      .testbox
        h1 Login
        |   
        form(action='/')

          hr
          |   
          label#icon(for='name')
            i.icon-envelope
          |   
          input#name(type='text', name='name', placeholder='Email', required='')
          |   
          input#name(type='text', name='name', placeholder='Name', required='')
          |   
          label#icon(for='name')
            i.icon-shield
          |   
          input#name(type='password', name='name', placeholder='Password', required='')
          |   
          |  
          |       
          a.button#botonsignup(href='#') Register
